/* .box {
  width: 100px;
  height: 100px;
  border: 1px solid red;
} */

.box {
  width: 500px;
  border: 2px solid #000;
  height: 600px;
  text-align: center;
}

.border-win {
  border-color: blue;
}

.border-lose {
  border-color: red;
}

.border-tie {
  border-color: green;
}

.item-img {
  width: 400px;
}
.main {
  display: flex;
  justify-content: center;
}

.buttonSx {
  margin: 16px 8px;
  padding: 20px;
}
